#abas {
    display: flex;
    padding: 0; 
    margin-left: 1300px; 
    
}

#abas ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

#abas ul li {
    margin-left: 20px; 
    position: relative; 
    top: 10px; 
}

#abas ul li a {
    color: red; 
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none; 
    padding: 10px; 
}

#abas ul li a:hover {
    color: black; 
}


#descricao h1 {
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    position: relative;
    margin-bottom: 70px; 
}




/* Reset  */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Container principal */
.container {
    
    display: flex; 
    flex-direction: column; 
    align-items: center;

    grid-template-columns: 2fr 3fr; 
    gap: 20px; 
    background: white;
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px red; 
    width: 50%; 
    position: relative; 
    margin: auto; 
    margin-bottom: 80px; 
}


h1 {
    grid-column: 1 / span 2; 
    text-align: center;
    color: red;
}


#denunciaForm {
    margin: auto; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%; 
    max-width: 440px; 
}

#denunciaForm label {
    font-weight: bold;
    color: #555;
}

#denunciaForm input, #denunciaForm textarea, #denunciaForm select, #denunciaForm button {
    width: 100%; 
    padding: 10px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    outline: none; 
    box-sizing: border-box; 
}

#denunciaForm button {
    background-color: red; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
    border: none;
    transition: background 0.3s; 
}

#denunciaForm button:hover {
    background-color: black;
}

#identificacao label:first-of-type, #identificacao input:first-of-type { 
    margin-bottom: 10px;
}


#identificacao { /* width: 416px;   FICA CENTRALIZADO COM O RESTO*/
    margin-top: 10px; 
    padding: 10px; 
    border: 1px solid #e0e0e0; 
    border-radius: 4px; 
    background-color: #f9f9f9; 
    width: 418px;
    margin-bottom: 15px;
}

/* Estilo do mapa */
#map {
    border: 2px solid #ccc; 
    border-radius: 8px; 
    height: 300px; 
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 10px;
        left: 0; /* Remove deslocamento */
    }

    #map {
        height: 250px;
    }
}

footer {
    background-color: #c5b036; /* Cor bege */
    text-align: center;
    padding: 20px 0;
    width: 100%; 
    margin: 0 auto; 
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    transition: transform 0.3s;
}


footer p {
    font-size: 17px;
    color: #333;
}

.social-icons a:hover img {
    transform: scale(1.2); 
}








