
#abas {
    display: flex; /* Ativa o Flexbox */
    padding: 0; /* Remove o preenchimento do nav */
    margin-left: 1300px; /* Move todo o nav para a esquerda */
    
}

#abas ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
    display: flex; /* Ativa o Flexbox para a lista */
}

#abas ul li {
    margin-left: 20px; /* Adiciona espaço entre os itens da lista */
    position: relative; /* Ativa o posicionamento relativo, deixa apenas a aba para mecher */
    top: 10px; /* Move o item 10px para baixo */
}

#abas ul li a {
    color: red; /* Define a cor do texto como vermelho */
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px; /* Adiciona algum espaço em volta do texto */
}

#abas ul li a:hover {
    color: black; /* Define a cor do texto como vermelho */
}


#descricao h1 {
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    position: relative;
    margin-bottom: 20px;
}




/* Adiciona um estilo para as imagens no popup da denuncia*/
.popup-img {
    width: 100px;
    height: auto;
    margin: 5px;
}



/* AMPLIA A IMAGEM */

.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica no lugar */
    z-index: 1000; /* Z-index alto para ficar acima do mapa */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.9); /* Fundo preto com opacidade */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.modal img {
    margin-top: 200px;
    max-width: 80%; /* Limita a largura da imagem */
    max-height: 80%; /* Limita a altura da imagem */
    width: auto; /* Mantém a proporção da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%; /* Largura da imagem */
    max-width: 700px; /* Largura máxima */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* FIM DO MODAL */




/* BOTAO DE DELETAR DENUNCIA */

.imagem-denuncia {

    width:130px; 
    height:auto; 
    cursor:pointer; 
    display:block; 
    margin-top:10px; 
    margin-bottom:10px

}






.btn-deletar {
    background-color: red; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    width: auto;
    height: auto;
    border: none; /* Sem borda */
    border-radius: 5px; /* Cantos arredondados */
    padding: 9px 9px; /* Espaçamento interno */
    font-size: 15px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.btn-deletar:hover {
    background-color: black; /* Cor de fundo ao passar o mouse */
}

.btn-deletar:active {
    background-color: black; /* Cor de fundo ao clicar */
}

.btn-deletar:focus {
    outline: none; /* Remove a borda de foco */
}








h1 {
    grid-column: 1 / span 2; /* Ocupa ambas as colunas */
    text-align: center;
    color: red;
    margin-bottom: 70px;
}



#map {
    height: 600px; /* Altura do mapa */
    width: 1500px; /* Largura do mapa */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    background-color: #fff; /* Cor de fundo do mapa */
    margin: 0 auto;
    margin-bottom: 70px;
    
}



body {
    background-color: #f0f0f0; /* Cor de fundo suave */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}














footer {
    background-color: #c5b036; /* Cor bege */
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Define uma largura menor */
    margin: 0 auto; /* Centraliza o rodapé na página */
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    transition: transform 0.3s;
}


footer p {
    font-size: 17px;
    color: #333;
}

.social-icons a:hover img {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}
