
#abas {
    display: flex;
    padding: 0;
    margin-left: 1300px; 
    
}

#abas ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
}

#abas ul li {
    margin-left: 20px; 
    position: relative; 
    top: 10px; 
}

#abas ul li a {
    color: red; 
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none; 
    padding: 10px; 
}

#abas ul li a:hover {
    color: black; 
}


#descricao h1 {
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    position: relative;
    margin-bottom: 20px;
}



.imagem-denuncia {

    width:130px; 
    height:auto; 
    cursor:pointer; 
    display:block; 
    margin-top:10px; 
    margin-bottom:10px

}




h1 {
    grid-column: 1 / span 2; 
    text-align: center;
    color: red;
    margin-bottom: 70px;
}



#map {
    height: 600px; 
    width: 1500px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: #fff; 
    margin: 0 auto;
    margin-bottom: 70px;
}



body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}














footer {
    background-color: #c5b036;
    text-align: center;
    padding: 20px 0;
    width: 100%; 
    margin: 0 auto;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    transition: transform 0.3s;
}


footer p {
    font-size: 17px;
    color: #333;
}

.social-icons a:hover img {
    transform: scale(1.2); 
}
