
#abas {
    display: flex; 
    padding: 0; 
    margin-left: 1300px; 
    
}

#abas ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
}

#abas ul li {
    margin-left: 20px; 
    position: relative; 
    top: 10px; 
}

#abas ul li a {
    color: red; 
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none; 
    padding: 10px; 
}

#abas ul li a:hover {
    color: black; 
}


#descricao h1 {
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    position: relative;
}

#descricao p {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    bottom: 10px;
    position: relative;
}





.visitas {
    position: relative;
    left: 80px;
    color: black;
    padding: 10px;
    border-radius: 5px; 
    display: inline-block;
    box-shadow: 0 4px 10px red; 
}

#contador {
    color: red;
}





body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.slideshow-container {
    position: relative;
    max-width: 1000px; 
    margin: auto; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    margin-bottom: 150px;
}

.slide {
    display: none; 
    opacity: 0; 
    transition: opacity 1s ease; 
}

.slide.active {
    display: block; 
    opacity: 1; 
}

.slideshow-container img {
    width: 100%; 
    display: block
}

.prev, .next {
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    padding: 16px; 
    color: white; 
    font-weight: bold;
    font-size: 18px; 
    transition: 0.6s ease; 
    border-radius: 0 3px 3px 0; 
    user-select: none; 
}

.next {
    right: 0; 
    border-radius: 3px 0 0 3px; 
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}











footer {
    background-color: #c5b036; /* Cor bege */
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Define uma largura menor */
    margin: 0 auto; /* Centraliza o rodapé na página */
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    transition: transform 0.3s;
}


footer p {
    font-size: 17px;
    color: #333;
}

.social-icons a:hover img {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}
