
#abas {
    display: flex; 
    padding: 0; 
    margin-left: 1300px; 
    
}

#abas ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
}

#abas ul li {
    margin-left: 20px; 
    position: relative; 
    top: 10px; 
}

#abas ul li a {
    color: red; 
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none; 
    padding: 10px; 
}

#abas ul li a:hover {
    color: black; 
}


#descricao h1 {
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0px;
    position: relative;
}





body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; 
    color: black;
}

.container {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white; 
}

h1 {
    text-align: center;
    color: red; 
}

h2 {
    color: red; 
    margin-top: 20px; 
}

h3 {
    color: red; 
    margin-top: 15px; 
}

p {
    line-height: 1.6; 
    margin: 10px 0; 
}

.image-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
    margin-bottom: 65px; 
}

.image-container img {
    width: 200px; 
    height: auto; 
    margin: 0 60px; 
    border-radius: 5px; 
}












footer {
    background-color: #c5b036;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto; 
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    transition: transform 0.3s;
}


footer p {
    font-size: 17px;
    color: #333;
}

.social-icons a:hover img {
    transform: scale(1.2); 
}
